/* centerd class designing writing area */
.centerd{
    position: absolute;
   right: 50px;
   left:150px;
   bottom: 150px;
   top: 200px;
    
}
/* main image set */
.container {
    position: relative;
    text-align: center;
    color: rgb(255, 255, 255);
    opacity: 0.7;
}
/* h1 size fix on main image  */
h1{
  font-weight: bold;
    font-size: 80px;
}
h3{
    text-align: center;
    font-size: 35px;
}


/* Boxses for rooms */
.row {
  display: flex;
}
* {
    box-sizing: border-box;
  }
  /* common class for all the images  */
  .column {
    float: left;
    width: 33.33%;
    padding: 10px;
  }

  /* for titile design */
  .card-title{
    font-size: x-large;
  }

  /* BOOK NOW button*/
  .button1{
    font-size: 16px;
    background-color: rgb(242, 105, 86);
  }

  .guest1{
    display: inline;
  }
 .h4{
  display: inline;
 }